/* CSS reset */
* {
    padding: 0;
    margin: 0;
    /* and then a third thing */
}

body {
    font-family: 'Teko', sans-serif;
}

.container {
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {

}

.button {

}

.title {
    font-size: 5rem;
}

.text {
    font-size: 3rem;
}


