/* CSS reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Teko', sans-serif;
    background-color: #FFD9DA;
    color: #1B2021;
}

.container {
    margin-top: 5rem;
    margin-bottom: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
    flex-wrap: wrap;
}

.button {
    font-size: 4rem;
    width: 6rem;
    height: 6rem;
    margin: 0 2rem;
    cursor: pointer;
    background-color: #30343F;

    border: 2px solid black;
    border-radius: 2px;
    text-align: center;
}

/* pseudo-class selector
instead of being a type of element, it refers to
the state of an element
*/
.button:hover {
    background-color: green;
}


.title {
    font-size: 5rem;
}

.text {
    font-size: 3rem;
}

@media (max-width: 860px) {
    .title {
        font-size: 4rem;
        text-align:center;
    }
}

@media (max-width: 480px) {
    .container{
        margin-top: 1rem;
        padding: 0 1rem;
    }
    .buttons {
        flex-direction: column;
        margin: .5rem 0;
    }

    .button {
        margin: .5rem 0;
    }
}


